<div class="gallery-card">
  <div class="gallery-card__top">
    <div class="gallery-card__title h3">
      Октябрь
    </div>
    <div class="gallery-card__arrow">
      <svg>
        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
      </svg>
    </div>
  </div>
  <div class="gallery-card__bottom">
    <div class="gallery-card__year">
      2025
    </div>
    <div class="gallery-card__count">
      24
    </div>
  </div>
  <div data-gallery="gallery1" href="#" class="gallery-card__photos" data-gallery="gallery1">
    
  </div>
  <div class="gallery-data" data-gallery-id="gallery1">
    <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
      data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
    <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
      data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
    <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
      data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
    <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
      data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
    <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
      data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
  </div>
</div>