.modal-call {
    max-width: rem(1016);
    width: 100%;
    display: flex;
    align-items: stretch;
    border-radius: 0;
    padding: 0;
    background-color: cl(whte);

    &__left,
    &__right {
        flex: 0 1 50%;
    }

    &__img {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    &__img-icon {
        position: absolute;
        width: rem(48);
        height: rem(48);
        left: rem(40);
        bottom: rem(40);

        svg {
            width: 100%;
            height: 100%;
            color: cl(whte);
        }
    }

    &__img img,
    &__img picture {
        width: 100%;
        height: 101%;
        margin-top: rem(-1);
        object-fit: cover;
        display: block;
    }

    &__top, &__form {
        padding: rem(40);
    }

    &__top {
        color: cl(drkBlu);
    }

    &__title {
        text-transform: lowercase;
    }

    &__description {
        margin-top: rem(16);
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: rem(32);

        background-color: cl(drkBlu);
        color: cl(whte);
    }

    &__form-checkboxes {
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }

    @media (max-width:$tablet){
        flex-direction: column;

        &__left,
        &__right {
            flex: 0 1 100%;
        }

        &__img {
            height: rem(271);
        }

        &__img-icon {
            left: rem(32);
            bottom: rem(32);
        }

        &__img img, &__img picture {
            height: 100%;
            object-position: center;
        }

        &__top, &__form {
            padding: rem(32);
        }

        &__form {
            gap: rem(24);
        }
    }

    @media (max-width:$mobile){
        &__img {
            height: rem(240);
        }

        &__img-icon {
            left: rem(16);
            bottom: rem(32);
        }

        &__form, &__top {
            padding-top: rem(24);
            padding-bottom: rem(24);
            padding-left: rem(16);
            padding-right: rem(16);
        }

        &__form {
            padding-bottom: rem(48);

            .checkbox {
                align-items: flex-start;
            }
        }
    }
}
