.dual-image-section {
    color: cl(whte);
    &__row {
        display: flex;
    }

    &__left,
    &__right {
        width: 50%;
        position: relative;
        height: rem(800);
        padding-top: rem(100);
        padding-bottom: rem(100);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__right {
        padding-left: rem(118);
    }

    &__left &__bg {
        right: 0;
        margin-left: calc(-1 * (100vw - 100%) / 2 - var(--padding, 15px));
    }

    &__right &__bg {
        left: 0;
        margin-right: calc(-1 * (100vw - 100%) / 2 - var(--padding, 15px));
    }

    &__left &__btn {
        opacity: 1;
    }

    &__btn {
        opacity: 0;
    }

    &__bg {
        height: 100%;
        width: 50vw;
        position: absolute;
        top: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: $pc) {
        &__right,
        &__left {
            height: rem(680);
            padding-top: rem(64);
            padding-bottom: rem(64);
        }

        &__right {
            padding-left: rem(48);
        }
    }

    @media (max-width: $tablet) {
        &__left,
        &__right {
            padding-top: rem(40);
            padding-bottom: rem(40);
        }

        &__right {
            padding-left: rem(24);
        }
    }

    @media (max-width: $mobile) {
        &__row {
            flex-direction: column;
        }

        &__left,
        &__right {
            height: rem(348);
            padding: rem(32) 0;
            width: 100%;
        }

        &__left &__bg,
        &__right &__bg {
            margin-left: calc(-1 * var(--pad));
            margin-right: calc(-1 * var(--pad));

            width: calc(100% + var(--pad) * 2);
        }

        &__left &__btn {
            opacity: 0;
        }

        &__right &__btn {
            opacity: 1;
        }
    }
}
