<div class="dual-image-section">
    <div class="dual-image-section__container">
        <div class="dual-image-section__row">
            <div class="dual-image-section__left">
                <div class="dual-image-section__bg">
                    <img src="img/pages/home/dual-image-section/img1.jpg" alt="">
                </div>
                <div class="dual-image-section__title h2">
                    кладовые
                </div>
                <a href="" class="dual-image-section__btn button button--xl button--ohra">
                    <div class="button__text">
                        Посмотреть схему
                    </div>
                    <div class="button__icon button__icon--white">
                        <svg>
                            <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="dual-image-section__right">
                <div class="dual-image-section__bg">
                    <img src="img/pages/home/dual-image-section/img2.jpg" alt="">
                </div>
                <div class="dual-image-section__title h2">
                    теплый паркинг
                </div>
                <a href="" class="dual-image-section__btn button button--xl button--ohra">
                    <div class="button__text">
                        Посмотреть схему
                    </div>
                    <div class="button__icon button__icon--white">
                        <svg>
                            <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>