<div class="dual-image-section">
    <div class="dual-image-section__container">
        <div class="dual-image-section__row">
            <div class="dual-image-section__left">
                <div class="dual-image-section__bg">
                    <img src="img/pages/home/dual-image-section/img1.jpg" alt="">
                </div>
                <div class="dual-image-section__title h2">
                    кладовые
                </div>
                <button data-gallery="gallery-schema" class="dual-image-section__btn button button--xl button--ohra">
                    <span class="button__text">
                        Посмотреть схему
                    </span>
                    <span class="button__icon button__icon--white">
                        <svg>
                            <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="dual-image-section__right">
                <div class="dual-image-section__bg">
                    <img src="img/pages/home/dual-image-section/img2.jpg" alt="">
                </div>
                <div class="dual-image-section__title h2">
                    теплый паркинг
                </div>
                <button data-gallery="gallery-schema" class="dual-image-section__btn button button--xl button--ohra">
                    <span class="button__text">
                        Посмотреть схему
                    </span>
                    <span class="button__icon button__icon--white">
                        <svg>
                            <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="gallery-data" data-gallery-id="gallery-schema">
        <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
            data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
        <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
            data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
        <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
            data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
        <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
            data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
        <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
            data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
    </div>
</div>