<!-- Здесь описаны все вариации -->
<div class="promo-card promo-card--brown promo-card--snow">
  <div class="promo-card__title h3">
    новогодние
    скидки
  </div>
  <div class="promo-card__bottom">
    <div class="promo-card__discount h3">
      до 12%
    </div>
    <div class="promo-card__arrow card-arrow">
      <div class="card-arrow__wrapper">
        <svg>
          <use xlink:href='img/icons/icons.svg#arrow-right'></use>
        </svg>
        <svg>
          <use xlink:href='img/icons/icons.svg#arrow-right'></use>
        </svg>
      </div>
    </div>
  </div>
  <a href="#" class="promo-card__link"></a>
</div>

<div class="promo-card promo-card--border-ohra">
  <div class="promo-card__title h3">
    рассрочка
    со скидкой
  </div>
  <div class="promo-card__bottom">
    <div class="promo-card__discount h3">
      -20%
    </div>
        <div class="promo-card__arrow card-arrow">
      <div class="card-arrow__wrapper">
        <svg>
          <use xlink:href='img/icons/icons.svg#arrow-right'></use>
        </svg>
        <svg>
          <use xlink:href='img/icons/icons.svg#arrow-right'></use>
        </svg>
      </div>
    </div>
  </div>
  <a href="#" class="promo-card__link"></a>
</div>

<div class="promo-card promo-card--milk">
  <div class="promo-card__title h3">
    ипотека
  </div>
  <div class="promo-card__bottom">
    <div class="promo-card__discount h3">
      5%
    </div>
        <div class="promo-card__arrow card-arrow">
      <div class="card-arrow__wrapper">
        <svg>
          <use xlink:href='img/icons/icons.svg#arrow-right'></use>
        </svg>
        <svg>
          <use xlink:href='img/icons/icons.svg#arrow-right'></use>
        </svg>
      </div>
    </div>
  </div>
  <a href="#" class="promo-card__link"></a>
</div>

<div class="promo-card promo-card--drkBlu">
  <div class="promo-card__title h3">
    семейная
    ипотека
  </div>
  <div class="promo-card__bottom">
    <div class="promo-card__discount h3">
      от 3,5%
    </div>
        <div class="promo-card__arrow card-arrow">
      <div class="card-arrow__wrapper">
        <svg>
          <use xlink:href='img/icons/icons.svg#arrow-right'></use>
        </svg>
        <svg>
          <use xlink:href='img/icons/icons.svg#arrow-right'></use>
        </svg>
      </div>
    </div>
  </div>
  <a href="#" class="promo-card__link"></a>
</div>