.promo-card {
    --text-color: #5D625B;
    color: var(--text-color);
    padding: rem(30);
    height: rem(264);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    &--brown {
        --text-color: #fff;
        background-color: cl(grn);
    }

    &--milk {
        background-color: cl(milk2);
    }

    &--drkBlu {
        --text-color: #fff;
        background-color: cl(drkBlu);
    }

    &--border-ohra {
        border: 2px solid cl(ohra);
    }

    &--snow {
        background-image: url('../img/icons/snow-pattern.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__arrow {
        width: rem(32);
        height: rem(32);
        transition: .3s;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    &:hover &__arrow{
        transform: translateX(5px);
    }
}
