<section class="form-map">
    <div class="form-map__container">
        <div class="form-map__row">
            <div class="form-map__left">
                <div class="form-map__map">
                    <div class="map" id="map" data-key="9c9066f4-2079-4b71-b871-46dbea21ece3"
                        data-center="[55.779324, 37.581623]" data-icon="Ссылка на иконку"></div>
                </div>
            </div>
            <div class="form-map__right">
                <form class="form-map__form">
                    <div class="input">
                        <label>Как к вам обращаться?</label>
                        <input type="text" name="name" placeholder="Иванов Иван" required >
                    </div>
                    <div class="input">
                        <label>Телефон</label>
                        <input type="tel" name="phone" placeholder="+7 (" data-inputmask="'mask': '+7 (999) 999 99-99'" required >
                    </div>
                    <div class="input">
                        <label>Ваш email</label>
                        <input type="email" name="phone" placeholder="example@mail.ru" required >
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="politics1" class="checkbox__input" >
                        <label class="checkbox__label" for="politics1"></label>
                        <div class="checkbox__text">
                            Я согласен с <a href="#">политикой конфиденциальности</a>
                        </div>
                    </div>
                    <button class="button button--xl">
                        <span class="button__text">
                            Отправить заявку
                        </span>
                        <span class="button__icon">
                            <svg>
                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                            </svg>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>