// ===============
// colors palette
// ===============

$colors: (
  "whte": #fff,
  "milk": #F5F3EB,
  "milk2": #FFFDF5,
  "blck": #000,
  "blck2":#222222,
  "ohra": #D6A177,
  "grn": #5D625B,
  "drkBlu": #3C445B,
  "vlt": #50586F,
  "gry": #383838,
  "gryLght": #555555,
);

//========================================================================================================================================================

:root {
  @if $colors {
    @each $key, $value in $colors {
      --color-#{$key}: #{$value};
      --color-#{$key}--rgb: #{hextorgb($value)};
    }
  }

  --font-primary: #{$fontFamily};
}
