body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
	backdrop-filter: blur(8px);
	background-color: cl(drkBlu, .5);
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	position: relative;
	.lock & {
		visibility: visible;
	}
}

.popup__close {
	position: absolute;
	top: 0;
	right: rem(-60);
}

@media (max-width:$pc){

	.popup {
		padding-top: rem(24);
		padding-bottom: rem(24);
	}

	.popup__content {
		padding-top: rem(64);
	}

	.popup__close {
		top: rem(0);
		right: 0;
	}
}

@media (max-width:$tablet){
	.popup {
		padding: 0;
	}

	.popup__content {
		padding: 0;
	}

	.popup__close {
		top: rem(24);
		right: rem(24);
	}
}

@media (max-width:$mobile){
	.popup__close {
		top: rem(16);
		right: rem(16);
	}
}