<div class="document-card document-card--bordered">
  <div class="document-card__title h4">
    разрешение на строительство
  </div>
  <a href="#" class="document-card__btn button button--m button--green">
    <div class="button__text">
      Ознакомиться
    </div>
    <div class="button__icon">
      <svg>
        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
      </svg>
    </div>
  </a>
</div>
<div class="document-card document-card--milk">
  <div class="document-card__title h4">
    проектная декларация
  </div>
  <a href="#" class="document-card__btn button button--m button--green">
    <div class="button__text">
      Ознакомиться
    </div>
    <div class="button__icon">
      <svg>
        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
      </svg>
    </div>
  </a>
</div>
<div class="document-card document-card--green">
  <div class="document-card__title h4">
    договор <br>
    участия
  </div>
  <a href="#" class="document-card__btn button button--m button--green">
    <div class="button__text">
      Ознакомиться
    </div>
    <div class="button__icon">
      <svg>
        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
      </svg>
    </div>
  </a>
</div>