<!-- Универсальный компонент управления слайдером 
     Использование: включить в блок со слайдером, добавив нужные модификаторы
-->
<div class="slider-controls">
    <div class="slider-controls__pagination"></div>
    <div class="slider-controls__arrows">
        <button class="slider-controls__arrow slider-controls__arrow-prev button button--green button--l">
            <span class="button__icon">
                <svg>
                    <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                </svg>
            </span>
        </button>
        <button class="slider-controls__arrow slider-controls__arrow-next button button--green button--l">
            <span class="button__icon">
                <svg>
                    <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                </svg>
            </span>
        </button>
    </div>
</div>
