<section class="fullscreen-slider">
    <div class="fullscreen-slider__background">
        <div class="swiper-wrapper">
            <div class="fullscreen-slider__background-slide swiper-slide">
                <img src="img/pages/home/fullscreen-slider/img1.jpg" alt="">
            </div>
            <div class="fullscreen-slider__background-slide swiper-slide">
                <img src="img/pages/home/fullscreen-slider/img2.jpg" alt="">
            </div>
            <div class="fullscreen-slider__background-slide swiper-slide">
                <img src="img/pages/home/fullscreen-slider/img3.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="fullscreen-slider__container">
        <div class="fullscreen-slider__content slider-fade">
            <div class="swiper-wrapper">
                <div class="fullscreen-slider__content-slide swiper-slide">
                    <div class="fullscreen-slider__content-slide-title h2">
                        Тепло северного <br> начинается здесь
                    </div>
                    <div class="fullscreen-slider__content-slide-description text-s">
                        <p>
                            Мягкий свет, текстура материалов, выполненных под <br> дерево, живые растения, интерактивные
                            панели — все <br> это задает пространству жизнь и с первых шагов <br> погружает во
                            внутренний мир
                            дома. 
                        </p>
                    </div>
                </div>
                <div class="fullscreen-slider__content-slide swiper-slide">
                </div>
                <div class="fullscreen-slider__content-slide swiper-slide">
                </div>
            </div>
        </div>
        <div class="fullscreen-slider__controls slider-controls">
            <div class="fullscreen-slider__count slider-controls__pagination slider-controls__pagination--alt">
            </div>
            <div class="fullscreen-slider__arrows slider-controls__arrows">
                <button
                    class="slider-controls__arrow slider-controls__arrow-prev button-icon button-icon--white button-icon--l">
                    <svg>
                        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                    </svg>
                </button>
                <button
                    class="slider-controls__arrow slider-controls__arrow-next button-icon button-icon--white button-icon--l">
                    <svg>
                        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>