<!-- Блок: секция с текстом и изображением (БЭМ) -->
<section class="text-image-section">
    <div class="text-image-section__container">
        <div class="text-image-section__row">
            <div class="text-image-section__left">
                <div class="text-image-section__text-content">
                    <h2 class="text-image-section__text-title h2">
                        Квартиры для разных сценариев жизни
                    </h2>
                    <p class="text-s">
                        Квартиры практично зонированы. Комнаты имеют правильную геометрию и легко адаптируются под любой
                        образ жизни — для себя, для большой семьи или под аренду, создавая ни с чем не сравнимую
                        атмосферу родного дома.
                    </p>
                </div>
            </div>

            <div class="text-image-section__right">
                <div class="text-image-section__photo">
                    <picture>
                        <source srcset="img/pages/home/text-image/img.jpg" media="(min-width: 939px)">
                        <source srcset="img/pages/home/text-image/img-tablet.jpg" media="(min-width: 639px)">
                        <img src="img/pages/home/text-image/img-mob.jpg" alt="MDN" >
                    </picture>
                    <img src="img/pages/home/text-image/img.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>