<!-- Блок: планировки квартир с табами и слайдерами (БЭМ) -->
<section class="apartment-planes">
    <div class="apartment-planes__container">
        <!-- Элемент: верхняя часть с заголовком -->
        <div class="apartment-planes__row apartment-planes__top">
            <div class="apartment-planes__left">
                <div class="apartment-planes__title h2">
                    Квартира – родное сердцу место
                </div>
            </div>
            <div class="apartment-planes__right">
                <p class="apartment-planes__description text-s">
                    Эргономичные пространства планировок позволяют выбирать варианты под ваш стиль жизни.
                </p>
            </div>
        </div>

        <!-- Элемент: основной контент -->
        <div class="apartment-planes__row apartment-planes__content">
            <!-- Элемент: левая часть со слайдерами -->
            <div class="apartment-planes__left">
                <div class="apartment-planes__sliders">
                    <!-- Слайдер: Студия -->
                    <div class="apartment-planes__slider apartment-planes__slider--active" data-tab-plane="0">
                        <div class="apartment-planes__slider-inner">
                            <div class="swiper-wrapper">
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img.png" alt="">
                                </div>
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img2.png" alt="">
                                </div>
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="apartment-planes__slider-controls slider-controls">
                            <div class="slider-controls__arrows">
                                <button
                                    class="slider-controls__arrow slider-controls__arrow-prev button-icon button-icon--green button-icon--l">
                                    <svg>
                                        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                    </svg>
                                </button>
                                <button
                                    class="slider-controls__arrow slider-controls__arrow-next button-icon button-icon--green button-icon--l">
                                    <svg>
                                        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Слайдер: 1К -->
                    <div class="apartment-planes__slider" data-tab-plane="1">
                        <div class="apartment-planes__slider-inner">
                            <div class="swiper-wrapper">
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img2.png" alt="">
                                </div>
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img2.png" alt="">
                                </div>
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="apartment-planes__slider-controls slider-controls">
                            <div class="slider-controls__arrows">
                                <button
                                    class="slider-controls__arrow slider-controls__arrow-prev button-icon button-icon--green button-icon--l">
                                    <svg>
                                        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                    </svg>
                                </button>
                                <button
                                    class="slider-controls__arrow slider-controls__arrow-next button-icon button-icon--green button-icon--l">
                                    <svg>
                                        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Слайдер: 2К -->
                    <div class="apartment-planes__slider" data-tab-plane="2">
                        <div class="apartment-planes__slider-inner">
                            <div class="swiper-wrapper">
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img2.png" alt="">
                                </div>
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img.png" alt="">
                                </div>
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="apartment-planes__slider-controls slider-controls">
                            <div class="slider-controls__arrows">
                                <button
                                    class="slider-controls__arrow slider-controls__arrow-prev button-icon button-icon--green button-icon--l">
                                    <svg>
                                        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                    </svg>
                                </button>
                               
                                <button
                                    class="slider-controls__arrow slider-controls__arrow-next button-icon button-icon--green button-icon--l">
                                    <svg>
                                        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Слайдер: 3К -->
                    <div class="apartment-planes__slider" data-tab-plane="3">
                        <div class="apartment-planes__slider-inner">
                            <div class="swiper-wrapper">
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img.png" alt="">
                                </div>
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img2.png" alt="">
                                </div>
                                <div class="apartment-planes__slider-slide swiper-slide">
                                    <img src="img/pages/home/plane/img2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="apartment-planes__slider-controls slider-controls">
                            <div class="slider-controls__arrows">
                                <button
                                    class="slider-controls__arrow slider-controls__arrow-prev button-icon button-icon--green button-icon--l">
                                    <svg>
                                        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                    </svg>
                                </button>
                               
                                <button
                                    class="slider-controls__arrow slider-controls__arrow-next button-icon button-icon--green button-icon--l">
                                    <svg>
                                        <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Элемент: правая часть с табами и информацией -->
            <div class="apartment-planes__right">
                <!-- Элемент: переключатели табов -->
                <div class="apartment-planes__switchs">
                    <button class="apartment-planes__switchs-item apartment-planes__switchs-item--active"
                        data-tab-plane="0">
                        Студия
                    </button>
                    <button class="apartment-planes__switchs-item" data-tab-plane="1">
                        1К
                    </button>
                    <button class="apartment-planes__switchs-item" data-tab-plane="2">
                        2К
                    </button>
                    <button class="apartment-planes__switchs-item" data-tab-plane="3">
                        3К
                    </button>
                </div>

                <!-- Элемент: информация о квартирах -->
                <div class="apartment-planes__info">
                    <!-- Информация: Студия -->
                    <div class="apartment-planes__info-item apartment-planes__info-item--active" data-tab-plane="0">
                        <p class="apartment-planes__info-description text-l">
                            Надежный дом для первого шага в <br> самостоятельную жизнь. Небольшое, <br> но «свое»
                            пространство
                            уединения.
                        </p>
                        <ul class="apartment-planes__info-list text-l">
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Корпус
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Корпус – 2
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Секция
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Секция – 2
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Этаж
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    8
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Тип
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Тип 2
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Информация: 1К -->
                    <div class="apartment-planes__info-item" data-tab-plane="1">
                        <p class="apartment-planes__info-description text-l">
                            Эргономичные пространства планировок позволяют выбирать варианты под ваш стиль жизни.
                        </p>
                        <ul class="apartment-planes__info-list text-l">
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Корпус
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Корпус – 2
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Секция
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Секция – 2
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Этаж
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    8
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Тип
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Тип 2
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Информация: 2К -->
                    <div class="apartment-planes__info-item" data-tab-plane="2">
                        <p class="apartment-planes__info-description text-l">
                            Место, уютно проведенных дней вместе, которое останется теплыми воспоминаниями внутри.
                        </p>
                        <ul class="apartment-planes__info-list text-l">
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Корпус
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Корпус – 2
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Секция
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Секция – 2
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Этаж
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    8
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Тип
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Тип 2
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Информация: 3К -->
                    <div class="apartment-planes__info-item" data-tab-plane="3">
                        <p class="apartment-planes__info-description text-l">
                            Пространство больших семейных ужинов. Место встреч, детского смеха и взрослых разговор
                            по душам.
                        </p>
                        <ul class="apartment-planes__info-list text-l">
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Корпус
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Корпус – 2
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Секция
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Секция – 2
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Этаж
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    8
                                </div>
                            </li>
                            <li>
                                <div class="apartment-planes__info-list-name">
                                    Тип
                                </div>
                                <div class="apartment-planes__info-list-value">
                                    Тип 2
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>