<section class="image-slider-section">
    <div class="image-slider-section__container">
        <div class="image-slider-section__row">
            <div class="image-slider-section__left">
                <div class="image-slider-section__slider">
                    <div class="image-slider-section__slider-inner">
                        <div class="swiper-wrapper">
                            <div class="image-slider-section__slider-slide swiper-slide">
                                <img src="img/pages/home/image-slider-section/img1.jpg" alt="">
                            </div>
                            <div class="image-slider-section__slider-slide swiper-slide">
                                <img src="img/pages/home/image-slider-section/img1.jpg" alt="">
                            </div>
                            <div class="image-slider-section__slider-slide swiper-slide">
                                <img src="img/pages/home/image-slider-section/img1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="image-slider-section__slider-controls slider-controls">
                        <div class="slider-controls__pagination"></div>
                        <div class="slider-controls__arrows">
                            <button
                                class="slider-controls__arrow slider-controls__arrow-prev button-icon button-icon--blue button-icon--l">
                                <svg>
                                    <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                </svg>
                            </button>
                            <button
                                class="slider-controls__arrow slider-controls__arrow-next button-icon button-icon--blue button-icon--l">
                                <svg>
                                    <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-slider-section__right">
                <div class="image-slider-section__content">
                    <div class="image-slider-section__title h2">
                        Готовое решение для жизни здесь и сейчас
                    </div>
                    <p class="image-slider-section__description text-s">
                        Квартиры в чистовой отделке. За всю работу отвечает «Северный». Для вас оставили лишь самое
                        приятное — обустройство вашего пространства.
                    </p>
                    <ul class="image-slider-section__list-counter text-s">
                        <li>
                            <span>Индивидуальная система отопления</span>
                        </li>
                        <li>
                            <span>Фильтрация воды</span>
                        </li>
                        <li>
                            <span>Детские замки на окнах</span>
                        </li>
                        <li>
                            <span>Вывод коммуникаций и установленная сантехника</span>
                        </li>
                    </ul>
                    <div class="image-slider-section__i text-s">
                        В проекте предусмотрены квартиры в черновой отделке. 
                    </div>
                    <button data-popup="#callback-modal" class="image-slider-section__btn button button--vlt button--xl">
                        <span class="button__text">
                            Оставить заявку
                        </span>
                        <span class="button__icon">
                            <svg>
                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>