.image-slider-section {
    background-color: cl(drkBlu);
    color: cl(whte);
    &__row {
        display: flex;
    }

    &__left,
    &__right {
        width: 50%;
    }

    &__left {
        position: relative;
        min-height: rem(800);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: rem(50) rem(108) rem(50) 0;
    }

    &__right {
        padding-top: rem(80);
        padding-bottom: rem(80);
        padding-left: rem(92);
    }

    &__slider-inner {
        width: 50vw;
        height: 100%;
        margin-left: calc(-1 * (100vw - 100%) / 2 - var(--padding, 15px));
        margin-right: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__slider-controls {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    &__slider-slide img, &__slider-slide picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        max-width: rem(476);
    }

    &__description {
        margin-top: rem(40);
    }

    &__list-counter {
        counter-reset: list-counter;
        margin-top: rem(24);

        display: flex;
        flex-direction: column;
        gap: rem(12);

        li {
            display: flex;

            &::before {
                content: counter(list-counter, decimal-leading-zero);
                counter-increment: list-counter;
                font-family: Benzin;
                font-size: rem(14);
                line-height: 157%;
                padding: rem(9) 0;
                border: 1px solid cl(vlt);
                min-width: rem(40);
                min-height: rem(40);
                aspect-ratio: 1 / 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            span {
                background-color: cl(vlt);
                padding: rem(8) rem(12);
            }
        }
    }

    &__i {
        margin-top: rem(24);
        opacity: 0.5;
    }

    &__btn {
        margin-top: auto;
    }

    @media (max-width: $pc) {
        &__left {
            padding-top: rem(48);
            padding-bottom: rem(48);
            padding-right: rem(48);
            min-height: 0;
            height: rem(680);
        }

        &__right {
            padding-top: rem(64);
            padding-bottom: rem(64);
            padding-left: rem(48);
        }

        &__list-counter li::before {
            font-size: rem(12);
        }

        &__description {
            margin-top: rem(32);
        }

        &__btn {
            display: none;
        }
    }

    @media (max-width: $tablet) {
        &__row {
            flex-direction: column;
        }

        &__left,
        &__right {
            width: 100%;
            padding-left: rem(0);
            padding-right: rem(0);
        }

        &__left {
            padding: rem(16);
            height: rem(400);
            width: calc(100% + var(--pad) * 2);
            margin: 0 calc(-1 * var(--pad));
        }

        &__right {
            padding-top: rem(40);
            padding-bottom: rem(40);
        }

        &__slider-inner {
            width: 100%;
        }

        &__title {
            max-width: 100%;
        }

        &__description {
            margin-top: rem(24);
        }

        &__list-counter {
            margin-top: rem(16);
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__i {
            margin-top: rem(16);
        }
    }

    @media (max-width: $mobile) {
        &__right {
            padding-top: rem(32);
            padding-bottom: rem(41);
        }

        &__left {
            height: rem(280);
        }
        
        &__description {
            margin-top: rem(20);
        }

        &__list-counter {
            li {
                width: 100%;
                
                span {
                    flex: 1 1 auto;
                    display: block;
                }
            }
        }
    }
}
