.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: cl(whte);

    padding: rem(24) 0;

    &--alt {
        z-index: 2;
        background-color: cl(milk2);
        color: cl(grn);
    }

    &--fixed {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--fixed-show {
        transform: translateY(0);
    }

    &--alt &__logo {
        img:first-child,
        picture:first-child {
            display: none;
        }

        img:last-child,
        picture:last-child {
            display: block;
        }
    }

    &--alt &__button--phone .button__text {
        background-color: cl(grn);
        color: cl(whte);

        &:hover {
            background-color: cl(vlt);
        }
    }

    &--alt &__burger {
        background-color: cl(grn);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        max-width: rem(184);
        width: 100%;
        display: block;

        img,
        picture {
            display: block;
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        img:last-child,
        picture:last-child {
            display: none;
        }
    }

    &__menu {
        &-list {
            display: flex;
            gap: rem(16);

            a {
                display: block;
                font-size: rem(16);
                font-weight: 500;
                line-height: 150%;
                padding: rem(4) rem(10);
                cursor: pointer;
                transition: color 0.2s ease;

                &:hover {
                    color: cl(ohra);
                }
            }
        }
    }

    &__ui {
        display: flex;
        align-items: center;

        &-btns {
            display: flex;
        }
    }

    &__burger {
        display: none;
        z-index: 5;
    }

    @media (max-width: $pc) {
        padding: rem(24) 0;
        &__menu {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background: rgba(93, 98, 91, 0.1);
            backdrop-filter: blur(6px);
            color: cl(whte);
            overflow: auto;
            padding-bottom: rem(20);

            transform: translateY(-100%);
            pointer-events: none;
            transition: opacity 0.2s ease;
            max-width: var(--container-w);
            width: 100%;
            padding-left: var(--pad);
            padding-right: var(--pad);

            &-list {
                padding-top: rem(15);
                flex-direction: column;
                gap: rem(5);
                margin-left: auto;
                margin-right: auto;
                text-align: right;

                a {
                    font-family: Benzin;
                    text-transform: uppercase;
                    font-size: rem(24);
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        &__logo {
            max-width: rem(150);
        }

        &__button {
        }

        &__burger {
            margin-left: rem(16);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-width: $tablet) {
        &__logo {
            max-width: rem(150);
        }
    }

    @media (max-width: $mobile) {
        padding-top: rem(24);

        &__ui-btns {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            margin-top: rem(20);
        }

        &__button {
            transition: none !important;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            max-width: rem(240);
            text-align: center;
            .button__text {
                width: 100%;
                font-size: rem(16);
                padding: rem(10) rem(16);
            }
        }
    }
}
