//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: flex;
	text-decoration: none;
	font-family: Benzin;
	--primary-color: #D6A177;
	--text-color: #fff;

	&__icon {
		backdrop-filter: blur(6px);
		border: 1px solid var(--primary-color);
		background: rgba(93, 98, 91, 0.1);
		display: block;

		svg {
			width: rem(28);
			height: rem(28);
			color: #f5f3eb;
		}
	}

	&__text {
		background-color: var(--primary-color);
		color: var(--text-color);
	}

	// sizes

	&--xl {
		.button__text {
			padding: rem(19) rem(24);
			line-height: 137%;
			font-size: rem(16);
		}

		.button__icon {
			padding: rem(16);
		}
	}

	&--l {
		.button__icon {
			padding: rem(10);
		}
	}

	&--s {
		.button__text {
			font-size: rem(12);
			line-height: 150%;
			padding: rem(7) rem(12);
		}

		.button__icon {
			padding: rem(7);
		}
	}

	// colors

	&--white {
		&__icon {
			border: 1px solid transparent;
		}
	}

	&--blue {
		--text-color: #fff;
		.button__text {
			background: rgba(60, 68, 91, 0.20);
		}
	}

	&--green {
		.button__icon {
			border-color: transparent;
			background: rgba(93, 98, 91, 0.10);

			svg {
				color: cl(grn);
			}
		}
	}
}
