//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: flex;
	text-decoration: none;
	font-family: Benzin;
	max-width: fit-content;
	transition: 0.3s all ease;

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		backdrop-filter: blur(6px);
		border: 1px solid transparent;
		background-color: transparent;
		transition: 0.3s all ease;
		color: #f5f3eb;

		svg {
			width: rem(28);
			height: rem(28);
		}
	}

	&__text {
		display: block;
		background-color: transparent;
		color: transparent;
		transition: 0.3s all ease;
	}

	&:hover {
		border-color: cl(whte);
		.button__text {
			color: cl(drkBlu);
			background-color: cl(whte);
		}

		.button__icon {
			border-color: cl(whte);
		}
	}

	&--xl {
		.button__text {
			padding: rem(19) rem(24);
			font-size: rem(16);
			line-height: 137%;
		}

		.button__icon {
			padding: rem(16);
		}

		@media (max-width: $tablet) {
			.button__text {
				padding: rem(9) rem(16);
				font-size: rem(14);
				line-height: 157%;
			}

			.button__icon {
				padding: rem(10);

				svg {
					width: rem(20);
					height: rem(20);
				}
			}
		}
	}

	&--l {
		.button__icon {
			width: rem(48);
			height: rem(48);
		}

		@media (max-width: $tablet) {
			.button__icon {
				width: rem(40);
				height: rem(40);

				svg {
					width: rem(20);
					height: rem(20);
				}
			}
		}
	}

	&--m {
		.button__icon {
			width: rem(40);
			height: rem(40);
		}

		.button__text {
			padding: rem(9) rem(16);
			font-size: rem(14);
			line-height: 157%;
		}
	}

	&--s {
		.button__text {
			padding: rem(7) rem(12);
			font-size: rem(12);
			line-height: 150%;
		}

		.button__icon {
			padding: rem(7);
		}
	}

	&--ohra {
		color: cl(whte);

		.button__icon {
			border-color: cl(ohra);
			color: cl(milk);
			background-color: cl(milk, 0.1);
			color: cl(whte);
		}

		.button__text {
			background-color: cl(ohra);
			color: cl(whte);
		}
	}

	&--gray {
		.button__text {
			color: cl(whte);
			background-color: cl(gry);
		}

		.button__icon {
			border-color: cl(gry);
		}
	}

	&--vlt {
		.button__text {
			color: cl(whte);
			background-color: cl(vlt);
		}

		.button__icon {
			background-color: cl(vlt, 0.1);
		}
	}

	&--green {
		.button__text {
			color: cl(whte);
			background-color: cl(grn);
		}

		.button__icon {
			border-color: transparent;
			background-color: cl(grn, 0.1);
			color: cl(grn);
		}

		&:hover {
			.button__text {
				background-color: cl(vlt);
				border-color: cl(vlt);
				color: cl(whte);
			}

			.button__icon {
				border-color: cl(vlt);
				color: cl(vlt);
			}
		}
	}

	&--blue {
		.button__text {
			color: cl(whte);
			background-color: cl(drkBlu, 0.2);
		}

		&:hover {
			.button__text {
				color: cl(whte);
				background-color: cl(drkBlu, 0.5);
			}
		}
	}
}

.button-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(6px);
	background-color: rgba(93, 98, 91, 0.1);
	transition: 0.3s all ease;
	border: 1px solid transparent;

	svg {
		transition: 0.3s all ease;
		width: 100%;
		height: 100%;
	}

	&--rounded {
		border-radius: 50%;
	}

	&--l {
		padding: rem(10);
		width: rem(48);
		height: rem(48);

		@media (max-width: $tablet) {
			width: rem(40);
			height: rem(40);
		}
	}

	&--m {
		padding: rem(10);
		width: rem(40);
		height: rem(40);
	}

	&--s {
		width: rem(32);
		height: rem(32);
		padding: rem(7);
	}

	&--green {
		border-color: transparent;
		background-color: cl(grn, 0.1);
		color: cl(grn);

		&:hover {
			background-color: cl(grn, 0.3);
		}
	}

	&--ohra {
		border-color: cl(ohra);
		background-color: cl(grn, 0.1);
		color: cl(whte);

		&:hover {
			background-color: cl(ohra, 0.3);
		}
	}

	&--blue {
		border-color: transparent;
		background-color: cl(drkBlu, 0.2);
		color: cl(whte);

		&:hover {
			background-color: cl(drkBlu, 0.5);
		}
	}

	&--white {
		background-color: cl(milk, 0.1);
		color: cl(whte);

		&:hover {
			background-color: cl(milk);
			color: cl(drkBlu);
		}
	}

	&--whiteDrk {
		background-color: cl(drkBlu, 0.1);
		color: cl(whte);

		&:hover {
			background-color: cl(milk);
			color: cl(drkBlu);
		}
	}
}
