//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: flex;
	text-decoration: none;
	font-family: Benzin;
	--primary-color: #d6a177;
	--text-color: #fff;

	&__icon {
		backdrop-filter: blur(6px);
		border: 1px solid var(--primary-color);
		background: rgba(93, 98, 91, 0.1);
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: rem(28);
			height: rem(28);
			color: #f5f3eb;
		}

		&--white {
			background: rgba(245, 243, 235, 0.1);
		}
	}

	&__text {
		display: block;
		background-color: var(--primary-color);
		color: var(--text-color);
	}

	&--xl {
		.button__text {
			padding: rem(19) rem(24);
			line-height: 137%;
			font-size: rem(16);
		}

		.button__icon {
			padding: rem(16);
		}

		@media (max-width: $tablet) {
			.button__text {
				padding: rem(9) rem(16);
				font-size: rem(14);
				line-height: 157%;
			}

			.button__icon {
				padding: rem(10);

				svg {
					width: rem(20);
					height: rem(20);
				}
			}
		}
	}

	&--l {
		.button__icon {
			width: rem(48);
			height: rem(48);
		}

		@media (max-width: $tablet) {
			.button__icon {
				width: rem(40);
				height: rem(40);

				svg {
					width: rem(20);
					height: rem(20);
				}
			}
		}
	}

	&--m {
		.button__icon {
			width: rem(40);
			height: rem(40);
		}

		.button__text {
			padding-top: rem(9);
			padding-bottom: rem(9);
			padding-left: rem(16);
			padding-right: rem(16);
			font-size: rem(14);
			line-height: 157%;
		}
	}

	&--s {
		.button__text {
			font-size: rem(12);
			line-height: 150%;
			padding: rem(7) rem(12);
		}

		.button__icon {
			padding: rem(7);
		}
	}

	// colors
	&--gray {
		--text-color: #fff;

		.button__text {
			background-color: cl(gry);
		}

		.button__icon {
			border-color: cl(gry);
		}
	}

	&--white {
		.button__icon {
			border: 1px solid transparent;
		}
	}

	&--blue {
		--text-color: #fff;
		.button__text {
			background: rgba(60, 68, 91, 0.2);
		}
	}

	&--drkBlu {
		--text-color: cl(whte);
		.button__icon {
			color: cl(whte);
			background: rgba(60, 68, 91, 0.2);
			border-color: transparent;
		}
	}

	&--green {
		width: fit-content;

		&:has(.button__text) {
			border: 1px solid cl(grn);
		}

		.button__text {
			background-color: cl(grn);
		}

		.button__icon {
			border-color: transparent;
			background: rgba(93, 98, 91, 0.1);

			svg {
				color: cl(grn);
			}
		}
	}

	&--ohra {
		--text-color: #fff;
		.button__icon {
			border-color: cl(ohra);
			background: rgba(93, 98, 91, 0.1);
		}
	}

	&--vlt {
		--text-color: #fff;

		.button__text {
			background-color: cl(vlt);
		}

		.button__icon {
			border-color: cl(vlt);
			background-color: cl(vlt, 0.1);
		}
	}
}
