//<INPUT>
// Сніппет (HTML): inp

// Анимация для детекта автозаполнения
@keyframes onAutoFillStart {
    from { /*dummy*/ }
    to { /*dummy*/ }
}

@keyframes onAutoFillCancel {
    from { /*dummy*/ }
    to { /*dummy*/ }
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    // Детект автозаполнения через animation
    &:-webkit-autofill {
        animation-name: onAutoFillStart;
        animation-duration: 0.001s;
    }
    
    &:not(:-webkit-autofill) {
        animation-name: onAutoFillCancel;
        animation-duration: 0.001s;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
.input {
    display: flex;
    flex-direction: column;

    label {
        font-size: rem(16);
        color: cl(whte);
        line-height: 140%;
    }

    input {
        font-family: Benzin;
        font-size: rem(20);
        line-height: 130%;
        color: cl(whte);
        background: transparent;
        padding-top: rem(16);
        padding-bottom: rem(15);
        border-bottom: 1px solid cl(whte);
    }

    &--sm {
        label {
            font-size: rem(14);
        }

        input {
            font-size: rem(16);
            line-height: 150%;
        }
    }

    @media (max-width:$tablet){
        label {
            font-size: rem(14);
            line-height: 142%;
        }

        input {
            font-size: rem(16);
            line-height: 150%;
        }
    }
}

.input input:focus {
    outline: none;
}

.input input[placeholder]:not([data-placeholder-nohiden]) {
    &::placeholder {
        transition: opacity 0.3s;
        color: cl(whte, .3);
        line-height: 130%;
    }
    &:focus::placeholder {
        opacity: 0;
    }
}

textarea.input {
    resize: none;
    padding: 0px 0px;
}
