<section class="steps-gallery">
    <div class="steps-gallery__container">
        <div class="steps-gallery__top">
            <div class="steps-gallery__title h2">
                Этапы 
                строительства
            </div>
            <div class="steps-gallery__description text-s">
                Вы можете следить за процессом строительства в режиме реального времени
                Фотоотчёты, видео и график выполнения работ
            </div>
        </div>
        <div class="steps-gallery__slider">
            <div class="steps-gallery__slider-controls">
                <div class="steps-gallery__icon">
                    <svg>
                        <use xlink:href='img/icons/icons.svg#icon-star'></use>
                    </svg>
                </div>
                <div class="slider-controls__arrows">
                         <button
                        class="slider-controls__arrow slider-controls__arrow-prev button-icon button-icon--green button-icon--l">
                        <svg>
                            <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                        </svg>
                    </button>
                    <button
                        class="slider-controls__arrow slider-controls__arrow-next button-icon button-icon--green button-icon--l">
                        <svg>
                            <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="steps-gallery__slider-carousel">
                <div class="swiper-wrapper">
                    <div class="steps-gallery__slider-slide swiper-slide">
                        <div class="gallery-card card"  data-gallery="gallery1"
                            style="background-image: url('img/pages/home/steps-gallery//img1.jpg');">
                            <div class="gallery-card__top">
                                <div class="gallery-card__title h2">
                                    Октябрь
                                </div>
                                <div class="gallery-card__arrow">
                                    <div class="card-arrow">
                                        <div class="card-arrow__wrapper">
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-card__bottom">
                                <div class="gallery-card__year">
                                    2025
                                </div>
                                <div class="gallery-card__count">
                                    24
                                </div>
                            </div>
                            <div class="gallery-data" data-gallery-id="gallery1">
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="steps-gallery__slider-slide swiper-slide">
                        <div class="gallery-card card"  data-gallery="gallery2"
                            style="background-image: url('img/pages/home/steps-gallery//img2.jpg');">
                            <div class="gallery-card__top">
                                <div class="gallery-card__title h2">
                                    Сентябрь
                                </div>
                                <div class="gallery-card__arrow">
                                    <div class="card-arrow">
                                        <div class="card-arrow__wrapper">
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-card__bottom">
                                <div class="gallery-card__year">
                                    2025
                                </div>
                                <div class="gallery-card__count">
                                    9
                                </div>
                            </div>
                            <div class="gallery-data" data-gallery-id="gallery2">
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="steps-gallery__slider-slide swiper-slide">
                        <div class="gallery-card card"  data-gallery="gallery3"
                            style="background-image: url('img/pages/home/steps-gallery//img3.jpg');">
                            <div class="gallery-card__top">
                                <div class="gallery-card__title h2">
                                    Август
                                </div>
                                <div class="gallery-card__arrow">
                                    <div class="card-arrow">
                                        <div class="card-arrow__wrapper">
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-card__bottom">
                                <div class="gallery-card__year">
                                    2025
                                </div>
                                <div class="gallery-card__count">
                                    12
                                </div>
                            </div>
                            <div class="gallery-data" data-gallery-id="gallery3">
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="steps-gallery__slider-slide swiper-slide">
                        <div class="gallery-card card"  data-gallery="gallery1"
                            style="background-image: url('img/pages/home/steps-gallery//img1.jpg');">
                            <div class="gallery-card__top">
                                <div class="gallery-card__title h2">
                                    Октябрь
                                </div>
                                <div class="gallery-card__arrow">
                                    <div class="card-arrow">
                                        <div class="card-arrow__wrapper">
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-card__bottom">
                                <div class="gallery-card__year">
                                    2025
                                </div>
                                <div class="gallery-card__count">
                                    24
                                </div>
                            </div>
                            <div class="gallery-data" data-gallery-id="gallery1">
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="steps-gallery__slider-slide swiper-slide">
                        <div class="gallery-card card"  data-gallery="gallery2"
                            style="background-image: url('img/pages/home/steps-gallery//img2.jpg');">
                            <div class="gallery-card__top">
                                <div class="gallery-card__title h2">
                                    Сентябрь
                                </div>
                                <div class="gallery-card__arrow">
                                    <div class="card-arrow">
                                        <div class="card-arrow__wrapper">
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-card__bottom">
                                <div class="gallery-card__year">
                                    2025
                                </div>
                                <div class="gallery-card__count">
                                    9
                                </div>
                            </div>
                            <div class="gallery-data" data-gallery-id="gallery2">
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="steps-gallery__slider-slide swiper-slide">
                        <div class="gallery-card card"  data-gallery="gallery3"
                            style="background-image: url('img/pages/home/steps-gallery//img3.jpg');">
                            <div class="gallery-card__top">
                                <div class="gallery-card__title h2">
                                    Август
                                </div>
                                <div class="gallery-card__arrow">
                                    <div class="card-arrow">
                                        <div class="card-arrow__wrapper">
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                            <svg>
                                                <use xlink:href='img/icons/icons.svg#icon-arrow-right'></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-card__bottom">
                                <div class="gallery-card__year">
                                    2025
                                </div>
                                <div class="gallery-card__count">
                                    12
                                </div>
                            </div>
                            <div class="gallery-data" data-gallery-id="gallery3">
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                                <div data-gallery-item data-src="img/pages/home/dual-image-section/img1.jpg"
                                    data-thumb="img/pages/home/dual-image-section/img1.jpg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>