.steps-gallery {
    padding-top: rem(100);
    padding-bottom: rem(100);

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        max-width: rem(424);
    }

    &__description {
        max-width: rem(372);
        text-align: right;
    }

    &__slider-controls {
        margin-top: rem(32);
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: rem(48);
        height: rem(48);

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__slider-carousel {
        margin-top: rem(40);
    }

    &__slider-slide {
        width: rem(392);
    }

    @media (max-width:$pc){
        padding-top: rem(64);
        padding-bottom: rem(64);

        &__title {
            max-width: rem(286);
        }

        &__description {
            font-size: rem(16);
            line-height: 150%;
        }

        &__slider-carousel {
            margin-top: rem(32);
        }
    }

    @media (max-width:$tablet){
        padding-top: rem(40);
        padding-bottom: rem(40);

        &__title {
            max-width: rem(256);
        }

        &__icon {
            width: rem(40);
            height: rem(40);
        }

        &__slider-controls {
            margin-top: rem(24);
        }

        &__slider-carousel {
            margin-top: rem(24);
        }
    }

    @media (max-width:$mobile){
        padding-top: rem(32);
        padding-bottom: rem(32);

        &__top {
            flex-direction: column;
            align-items: flex-start;
        }

        &__title, &__description {
            max-width: 100%;
        }

        &__description {
            text-align: left;
            font-size: rem(14);
            line-height: 142%;
            margin-top: rem(12);
        }

        &__slider-slide {
            width: rem(294);
        }
    }

}