.footer {
    &__top {
        padding: rem(50) 0;
    }

    &__logo {
        width: 100%;
        height: auto;

        img, picture {
            width: 100%;
        }
    }

    &__top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(78);
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: rem(38);

        &-label {
            font-weight: 500;
            color: cl(ohra);
        }

        &-value {
            font-style: normal;
            margin-top: rem(8);
        }

        a {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 0%;
                height: 2px;
                background-color: cl(grn);
                bottom: -1px;
                left: 0;
                opacity: 0;
                transition: all 0.4s ease;
            }

            &:hover::after {
                width: 100%;
                opacity: 1;
            }
        }
    }

    &__menus {
        display: flex;
        gap: rem(79);
        padding-right: rem(18);

        ul {
            display: flex;
            flex-direction: column;
            gap: rem(40);

            a {
                font-weight: 500;
                position: relative;
                padding-top: rem(4);
                padding-bottom: rem(4);

                &::after {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 2px;
                    background-color: cl(grn);
                    bottom: -1px;
                    left: 0;
                    opacity: 0;
                    transition: all 0.4s ease;
                }

                &:hover::after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }

    &__bottom {
        margin-top: rem(96);
        padding-top: rem(40);
        padding-bottom: rem(40);
        border-top: 1px solid cl(grn);
    }

    &__bottom-items {
        display: flex;
        justify-content: space-between;
    }

    &__bottom-item {
        font-weight: 500;
    }

    a.footer__bottom-item {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 0%;
            height: 2px;
            background-color: cl(grn);
            bottom: -1px;
            left: 0;
            opacity: 0;
            transition: all 0.4s ease;
        }

        &:hover::after {
            width: 100%;
            opacity: 1;
        }
    }

    @media (max-width: $pc) {
        &__top {
            padding-top: rem(60);
            padding-bottom: rem(60);
        }

        &__top-row {
            margin-top: rem(40);
        }

        &__contacts {
            gap: rem(20);
        }

        &__menus {
            padding-right: rem(13);
            gap: rem(57);

            ul {
                gap: rem(24);
            }
        }

        &__bottom {
            margin-top: rem(115);
        
            padding: rem(32) 0;
        }
    }

    @media (max-width:$tablet){
        &__top {
            padding-top: rem(40);
            padding-bottom: rem(40);
        }

        &__top-row {
            margin-top: rem(24);
            flex-direction: column;
            gap: rem(24);
        }

        &__left, &__right {
            width: 100%;
        }

        &__contacts {
            align-items: flex-start;
            flex-direction: row;
            gap: rem(24);

            &-value {
                font-size: rem(16);
                line-height: 150%;
            }
        }

        &__menus {
            gap: rem(12);
            ul {
                max-width: rem(160);
                width: 100%;
            }
        }

        &__bottom {
            margin-top: rem(148);
        }
    }

    @media (max-width:$mobile){
        &__top {
            padding-top: rem(32);
            padding-bottom: rem(32);
        }

        &__contacts {
            flex-direction: column;
            gap: rem(12);
        }

        &__bottom {
            margin-top: rem(48);
            padding-top: rem(32);
            padding-bottom: rem(32);
        }

        &__bottom-items {
            flex-direction: column;
            gap: rem(12);
            margin: 0 rem(10);
        }

        &__bottom-item {
            padding: rem(4) 0;
            
        }
    }
}
