.offer {
    position: relative;
    color: cl(whte);

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.7) 60%, #000 100%);
            opacity: 0.4;
            cursor: pointer;
        }

        video {
            pointer-events: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__container {
        padding-top: rem(270);
        padding-bottom: rem(570);
    }

    &__text {
        display: flex;
        justify-content: center;
        gap: rem(30);

        span {
            display: flex;
            align-items: center;
            gap: rem(30);
            &::before {
                content: "";
                display: block;
                width: rem(30);
                height: rem(30);
                background-image: url("../img/icons/icon-star.svg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            &:first-child {
                &::before {
                    display: none;
                }
            }
        }
    }

    @media (max-width: $pc) {
        &__container {
            padding-top: rem(245);
            padding-bottom: rem(438);
        }

        &__text {
            gap: rem(35);

            span {
                gap: rem(35);
            }

            span:before {
                width: rem(20);
                height: rem(20);
            }
        }
    }

    @media (max-width: $tablet) {
        background-position: top center;
        &__container {
            padding-top: rem(243);
            padding-bottom: rem(442);
        }

        &__text {
            gap: rem(16);

            span {
                gap: rem(16);
            }
        }
    }

    @media (max-width: $mobile) {
        &__bg video {
            object-position: 34% top;
        }

        &__container {
            padding-top: rem(180);
            padding-bottom: rem(261);
        }

        &__text {
            flex-direction: column;
            gap: 0;
            font-size: rem(32) !important;
            line-height: 112%;

            span {
                flex-direction: column;
                gap: 0;
            }

            span::before {
                height: rem(36);
                background-size: contain;
            }
        }
    }
}
