// Заголовки, общие БЭМ блоки и прочее...
.text-s {
    font-size: rem(16);
    line-height: 150%;

    @media (max-width: $pc) {
        font-size: rem(14);
        line-height: 157%;
    }
}

.text-m {
    font-size: rem(18);
    line-height: 150%;

    @media (max-width: $pc) {
        font-size: rem(14);
        line-height: 142%;
    }
}

.text-l {
    font-size: rem(20);
    line-height: 160%;

    @media (max-width: $pc) {
        font-size: rem(16);
        line-height: 150%;
    }

    @media (max-width: $tablet) {
        font-size: rem(14);
        line-height: 157.143%;
    }
}

.text-xl {
    font-size: rem(22);
    line-height: 145%;
}

.font-bold {
    font-weight: 500;
}

.tagline {
    font-size: rem(20);
    font-weight: 600;
    line-height: 160%;

    @media (max-width: $pc) {
        font-size: rem(16);
        line-height: 150%;
    }

    @media (max-width: $tablet) {
        font-size: rem(12);
        line-height: 166%;
    }
}

.h1 {
    font-size: rem(60);
    font-family: Benzin;
    line-height: 100%;
    text-transform: lowercase;

    @media (max-width: $pc) {
        font-size: rem(40);
    }

    @media (max-width: $tablet) {
        font-size: rem(32);
    }

    @media (max-width: $mobile) {
        font-size: rem(24);
        line-height: 133.333%;
    }
}

.h2 {
    font-family: Benzin;
    font-size: rem(36);
    line-height: 110%;
    text-transform: lowercase;

    @media (max-width: $pc) {
        font-size: rem(28);
        line-height: 128.571%;
    }

    @media (max-width: $tablet) {
        font-size: rem(22);
        line-height: 127.273%;
    }
}

.h2-s {
    font-family: Benzin;
    font-size: rem(32);
    line-height: 125%;

    @media (max-width: $pc) {
        font-size: rem(24);
        line-height: 133.333%;
    }

    @media (max-width: $tablet) {
        font-size: rem(22);
        line-height: 127%;
    }

    @media (max-width: $mobile) {
        font-size: rem(20);
        line-height: 140%;
    }
}

.h2-xl {
    font-family: Benzin;
    font-size: rem(44);
    line-height: 110%;

    @media (max-width: $mobile) {
        font-size: rem(24);
        line-height: 133.333%;
    }
}

.h3 {
    font-size: rem(28);
    font-family: Benzin;
    line-height: 128%;

    @media (max-width: $pc) {
        font-size: rem(24);
        line-height: 133.333%;
    }
}

.h4 {
    font-size: rem(24);
    line-height: 133.333%;
    font-family: Benzin;

    @media (max-width: $pc) {
        font-size: rem(20);
        line-height: 140%;
    }

    @media (max-width: $tablet) {
        font-size: rem(16);
        line-height: 150%;
    }
}

.h1 {
    font-size: rem(60);
    font-family: Benzin;
    line-height: 100%;

    @media (max-width: $pc) {
        font-size: rem(40);
        line-height: 110%;
    }

    @media (max-width: $tablet) {
        font-size: rem(32);
        line-height: 112%;
    }
}

p + p {
    margin-top: rem(20);

    @media (max-width: $mobile) {
        margin-top: rem(12);
    }
}

.section-p {
    padding-top: rem(100);
    padding-bottom: rem(100);

    @media (max-width: $pc) {
        padding-top: rem(64);
        padding-bottom: rem(64);
    }

    @media (max-width: $tablet) {
        padding-top: rem(40);
        padding-bottom: rem(40);
    }

    @media (max-width: $mobile) {
        padding-top: rem(32);
        padding-bottom: rem(32);
    }
}

.page-line {
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: cl(grn);
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.card {
    &:hover {
        .card-arrow__wrapper {
            transform: translateX(calc(50% + rem(14)));
        }
    }
}

.card-arrow {
    overflow: hidden;
    position: relative;
    width: rem(32);
    height: rem(32);

    &__wrapper {
        display: flex;
        gap: rem(18);
        width: min-content;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform 0.4s ease;

        svg {
            width: rem(32);
            height: rem(32);
            flex-shrink: 0;
        }
    }
}

.link {
    display: inline;
    text-decoration: underline;
    text-underline-offset: 2px;

    &:hover {
        text-decoration: none;
    }
}

.slider-fade {
    &.swiper-slide {
        background-color: cl(milk);
        opacity: 0 !important;

        &-active {
            opacity: 1 !important;
        }
    }
}
