@use "sass:math";

// Подключения миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключения шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін

// Подключить, если есть локальные файлы шрифтов
@import "fonts/fonts";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily:
  "Onest",
  sans-serif,
  -apple-system,
  BlinkMacSystemFont,
  Roboto,
  Ubuntu,
  "Droid Sans",
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji";
$fontSize: rem(14);

// Основной цвет
$mainColor: cl(primary);

// Цвета
@import "base/colors-palette";

// Сетка  ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 360;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1224;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em(1199); // ПК, ноутбуки
$tablet: em(939); // Планшети
$mobile: em(639); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
$time: 0.3s; // Тайминг на анимацию transition
$tr: ease-out; // Тип на анимации на transition
// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуленние ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
  background-color: cl(milk);
  color: cl(grn);
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }

  .loaded & {
  }
  &::-webkit-scrollbar {
    height: 5px;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: cl(scroll-bg);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: cl(alt);
  }
}
// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }
  // Прижимаем
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Еонтейнер ======================================================================================================================================================================================================================

[class*="__container"] {
  --pad: 30px;
  --container-w: 1284px;
  max-width: calc(rem(1224) + var(--pad) * 2);
  box-sizing: border-box;
  padding: 0 var(--pad);
  margin: 0 auto;

  @media (max-width: $pc) {
    max-width: calc(rem(928) + var(--pad) * 2);
    --container-w: 988px;
  }

  @media (max-width: $tablet) {
    --pad: 24px;
  }

  @media (max-width: $mobile) {
    --pad: 16px;
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "imports";

// Подключение стилей отдельных страниц
